# ISL Translator - Environment Variables

# The Secret Key used for JWT Authentication encoding/decoding.
# Generate a secure key in production (e.g., `openssl rand -hex 32`)
SECRET_KEY=isl-translator-dev-secret-key-2026

# The environment type: 'development' or 'production'
FLASK_ENV=development
